{% extends "layout.html" %}
{% block content %}

<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/datatable.css') }}">>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>  
</head>


<a class="btn btn-primary" href="{{url_for('project.project_creator')}}" role="button">Create</a>
<hr></hr>
<table id="selectedColumn" class="table table-hover table-striped"> 
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Description</th>
      <th>Created Date</th>
    </tr>
</thead>

{% for project in projects%}
<tr class='clickable-row' data-href="{{url_for('project.project_details',project_id=project.id)}}" title="Click to edit project">    
  <th scope="row">
    {{project.name}}
  </th>
  <td>
    {{project.description}}
  </td>
  <td>
    {{project.created_date}}
  </td>
</tr>

{% endfor %}
</table>

<script>
    
  // Basic example
  jQuery(document).ready(function() {
    $('#selectedColumn').DataTable();
  });

  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>

{% endblock content %}